@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Tangerine&display=swap');
h1{
  color:aqua;
  font-size:100px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  text-align: center;
}
label{
  color: blue;
}
.form {
 text-align: center;
}
input[type=text]{
width: 20%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
}

input[type=submit]{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: white;
  background-color:blue;
  box-shadow: 10px 10px white #34495E;
}
.sbmt{
  text-align: center;
}
.para{
  font-size: 20px;
  color:aquamarine
  } 
#img{
  margin-left: 150px;
}
#last{
  font-family:'Tangerine', cursive
}
#final{
  font-size: 40px;
}
#flex{
  display:flex;
}

strong{
  color:rgb(18, 156, 18)
}
.container{
    background-image: url(https://cdn.cdnparenting.com/articles/2020/11/14164658/319171217.webp);
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    grid gap: 15 px;
    padding : 15px;
}
.header{
    grid-row: 1/2;
    grid-column: 1/1;
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}

.para{
    grid-row: 2/3;
    text-align:left;
}
.mid{
    grid-row: 3/4;
    grid-column: 1/1;
}
